# 網頁爬蟲相關
selenium==4.11.2
beautifulsoup4==4.12.2
requests==2.31.0

# 配置文件相關
PyYAML==6.0.1

# 瀏覽器驅動
webdriver-manager==4.0.1

# 測試相關
pytest==8.0.0
pytest-cov==4.1.0
black==24.1.1
flake8==7.0.0

# 文檔生成
Sphinx==7.2.6
sphinx-rtd-theme==2.0.0 